<!DOCTYPE html>
<html>
    <head>
        <style>
            #gif {
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 75%;
                height: 75%%;
                text-align: center;
            }
        </style>
        <script>
            setInterval(function(){ 
                window.location = "/results";
            }, 5000);
        </script>
    </head>
<body style="background-color:azure">
    <div id="gif">
        <img src="calculating.gif">
    </div>
</body>
</html>
