<!DOCTYPE html>
<html>
<body>

<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1 align="center">Are You Woke?</h1>
    <p align ="center">Woke is a unit of measurement that measures how socially consciouse one is. Woke is also used as an adjective. Someone who is 'woke' knows whats going on in the community and is familiar with current events and affairs. This website scrapes your twitter data using your tweets to determine how woke you are on social media.</p>
  </div>
</div>
<div>
<a href="#" class="myButton">blue</a>
</div>
<hr>
</body>
</html>
